*{
    font-family: "Nunito", serif;
}
.Logo{
    font-family: "Rowdies", serif;
}
.active{
    background-color: #23a8fe !important;
   color: #fff;
   border-radius: 5px;  
}

.active > li {
    background-color: #23a8fe !important;
    color: #fff;
    border-radius: 5px; 
}
.active > li:hover {
   
    color: #fff;
}

hr {
    background-color: #afbaca;
    border: none;
    height: 2px;
    margin: 5px 0;
}

.dropdown{
    margin-top: 15px;
    z-index: 9999 !important;
}